*{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

body{
    background-blend-mode: hard-light;
    background-image: url('../images/bg-intro-desktop.png');
    background-color: hsl(0, 100%, 74%);
    background-size: cover;
}

.main-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.info-container{
    width: 50%;
    padding-left: 12vw;
    padding-right: 3vw;
    color: #FFFFFF;
}

.info-container h1{
    font-size: 3em;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 5%;
}

.form-container{
    width: 50%;
    padding-right: 12vw;
    padding-left: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.promo-container{
    background-color: rgb(95, 84, 164);
    padding: 3%;
    text-align: center;
    margin-bottom: 5%;
    border-radius: 6px;
    box-shadow: 0 5px rgb(0, 0, 0,0.15)
}

.promo-container p{
    color: lightgrey;
    font-size: 0.9em;
    font-weight: 100;
}

.promo-container span{
    font-weight: 700;
    font-size: 0.9em;
    color: white;
}

.form-container form{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 8%;
    border-radius: 10px;
    text-align: center;
}

input{
    margin: 0 0 5% 0;
    padding: 2%;
    border: none;
    border: 1px solid lightgray;
    border-radius: 5px;
    font-size: 0.8em;
    font-weight: 600;
    padding: 3% 0 3% 5%;
}

input:focus{
    outline: none;
    border: 1px solid hsl(249, 10%, 26%);
    border-radius: 5px;
}

form button{
    background-color: hsl(154, 59%, 51%);
    border: none;
    padding: 3%;
    color: white;
    border-radius: 5px;
    font-size: 0.9em;
    font-weight: 600;
    letter-spacing: 1.5px;
}

form button:hover{
    background-color: hsl(154, 59%, 60%);

}

form p{
    margin-top: 3%; 
    color: lightgray;
    font-size: 0.6em;
    font-weight: 600;
}

form p span{
    color: hsl(0, 100%, 74%);
    font-size: 1em;
    font-weight: bold;
}

@media (max-width: 375px){
    .main-container{
        display: block;
    }

    .info-container{
        width: 100vw;
        margin-top: 20%;
        margin-bottom: 10%;
        padding: 0;
        text-align: center;
    }

    .form-container{
        width: 100vw;
        padding: 0;
        text-align: center;
    }
}